<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.suelliton.horus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_olho"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/verde_e_branco">
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.suelliton.horus" />

        <activity
            android:name=".StorageActivity"
            android:theme="@style/verde_e_branco" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Principal"
            android:label="Horus Green"
            android:theme="@style/verde_e_branco"></activity>
        <activity
            android:name=".NovoExperimentoActivity"
            android:label="Horus Green"
            android:theme="@style/verde_e_branco"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".DetalhesActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Horus Green"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NovoUsuarioActivity"
            android:label="@string/title_activity_novo_usuario"></activity>
    </application>

</manifest>